body.home-active {
    display: block;
    background-image: none;
    background-color: #11011b;
    overflow: hidden;
}


.home-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #11011b;
    color: #eee;
}

.home-header {
    background-color: #11011b;
    border-bottom: 1px solid #333;
}

.home-header .navbar-brand {
    color: #fff;
}

.home-header .search-form {
    width: 50%;
    max-width: 600px;
}

.home-header .search-input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
}

.home-header .search-input::placeholder {
    color: #ccc;
}

.home-header .search-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: none;
}

.home-header .nav-actions {
    max-height: 100px;
}

.sidebar {
    background-color: #11011b;
    width: 260px;
    flex-shrink: 0;
}

.compose-btn {
    background-color: #691d99;
    border: none;
    border-radius: 24px;
    padding: 12px;
    font-weight: 600;
}

.compose-btn:hover {
    background-color: #52137a;
}

.sidebar-nav .nav-link {
    color: #eee;
    opacity: 0.8;
}

.sidebar-nav .nav-link.active {
    background-color: #52137a;
    color: white;
    border-radius: 0 16px 16px 0;
    font-weight: 500;
    opacity: 1;
}

.main-content {
    background-color: #1a1a1a;
    border-radius: 16px 0 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.email-toolbar {
    background-color: #1a1a1a;
    border-radius: 16px 0 0 0;
}

.refresh-btn {
    font-size: 1.2rem;
    text-decoration: none;
}

.email-list-container {
    overflow-y: auto;
}

.email-item {
    cursor: pointer;
    border-bottom: 1px solid #3a3a3a !important;
}


.email-item:hover {
    background-color: #52137a !important;
    opacity: 1 !important;
}

.email-item:hover .email-sender,
.email-item:hover .email-subject,
.email-item:hover .email-date,
.email-item:hover .email-snippet {
    color: #ffffff !important;
}

.email-sender {
    width: 200px;
}

.email-item.unread .email-sender,
.email-item.unread .email-subject-text {
    color: #ffffff;
    font-weight: bold;
}

.email-date {
    font-size: 0.85rem;
    min-width: 60px;
    text-align: right;
}
.logout{
    margin-top: auto;
}
.settings-btn, .settings-btn:hover {
    text-decoration: none;
}
